@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.active {
  transform: rotate(-20deg);
  transform-origin: top left;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: -20px;
}
img {
  width: 55%;
  height: 667px;
}

p {
  width: 55%;
  line-height: 1.6;
}
.mr-10 {
  margin-right: 10px;
  font-size: 22px;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav > h3 {
}

.nav-h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3-hidden {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.h3-first {
  transform: translateX(40%);
  transition: transform 0.5s ease-in;
}

.h3-second {
  transform: translateX(60%);
  transition: transform 0.5s ease-in;
}

.h3-third {
  transform: translateX(80%);
  transition: transform 0.5s ease-in;
}

.rotate {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff7979;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-80%);
  margin-top: -150px;
  position: fixed;
}

.rotate-btn {
  width: 110px;
  height: 120px;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-active {
  transform: rotate(-60deg);
  transition: transform 0.5s ease-in;
}

.btn-re-rotate {
  transition: transform 0.5s ease-in;
}

.title {
  width: 55%;
}

span {
  font-style: italic;
  font-size: 14px;
  opacity: 0.8;
  margin-top: -20px;
  width: 55%;
}
